html {
margin:0;
padding:5px;
background: #FFFFFF;
}

#header {
color: blue;
background:#FFFFFF;
width: 700;
height:40x;
padding:5px;
}

#sidebar {
float:left;
background: #FFFFFF;
color:#4B4B4B;
width: 17%;
height:100%;
padding:1%;
margin-top: 1%;
margin-right:10px;
margin-bottom:1%;
}

#sideimage {
width: 10px;
}

#content {
float:right;
background: #FFFFFF;
width: 77%;
padding: 1%;
margin-top: 1%;
margin-left:10px;
margin-bottom:1%;
}
#content a:link {color:darkgrey}
#content a:hover {color:lightgrey}

	  
#footer {
color: blue;
background:#FFFFFF;
clear:both;
width: 700;
height:40x;
margin-top:1%}