html {
margin:0;
padding:5px;
background: #FFFFFF;
}

#header {;
background:#FFFFFF;
width: 700;
height:40x;
padding:5px;
margin-top: 1%;
margin-right:5%;
margin-bottom:1%;
margin-left:5%;

}
.arrows {
	color:#E60000;
}

#sidebar {
float:left;
background: #FFFFFF;
color:#4B4B4B;
width: 20%;
height:100%;
padding:1%;
margin-top: 1%;
margin-right:.5%;
margin-bottom:1%;
margin-left:8%;
}

#bio h4 {padding:3%; text-align: center; 
	color:white;background:grey;border-radius: 10px;}


#sidebar a:link {color:white}
#sidebar a:active {color:white}
#sidebar a:visited {color:white}
#sidebar a:hover {color:lightgrey}

img {max-width:200px; text-align:center;}

#content {
float:right;
background: #FFFFFF;
width: 57%;
height:100%;
padding:1%;
margin-top: 1%;
margin-left:.5%;
margin-bottom:1%;
margin-right:8%;
}
#content a:link {color:grey}
#content a:hover {color:lightgrey}

.break {color: #E60000;
margin-top:30px;
margin-bottom:30px;}

.arrow_bullet {color:#E60000;
font-size:50px;
font-weight:bold;}

.post_title {
	color:grey;
	font-size: 35px;
	font-family:Garamond;
}

.post_date {
	color:#E60000;
	font-size: 35px;
	font-family:Garamond;
}
.tab {margin-left:35px;}

.wireframe_headers {
	color:#E60000;
	font-size:30px;
	font-family: Garamond;
}

.wireframe_images { width:450px;}

#footer {
color: grey;
background:#FFFFFF;
width: 700;
clear:both;
padding:5px;
margin-top: 1%;
margin-right:5%;
margin-bottom:1%;
margin-left:5%;
}

@media screen and (max-width: 460px) {
#sidebar, #content, #sidebar_img {width:98%; margin:1%;}
#sidebar {text-align: center}
img {max-width:200px; text-align:center;}
.arrow_inner {display:none;}
.arrow_mid1 {display: none;}
.arrow_mid2 {display: none;}
}

@media screen and (min-width: 461px) and (max-width: 600px) {
#sidebar, #content, #sidebar_img {width:98%; margin:1%;}
#sidebar {text-align: center}
img {max-width:200px; text-align:center;}
.arrow_inner {display:none;}
.arrow_mid1 {display: none;}
}

@media screen and (min-width: 601px) and (max-width: 780px) {
.arrow_inner {display: none;}
#sidebar {text-align: center;}
#sidebar_img {width:45%; text-align:center;float:left;}
#bio {width:45%; float:right;margin-right:2%;vertical-align: center}
#bio h4 {margin-right:5%;}
#sidebar {width:98%; margin:2%;}
#content {width:80%; margin:10%;}
}