#header {
	background: black;
	color: white;
	padding:10px;
	max-width:1000px;
	text-align:center;
	margin-bottom:10px;
}

#container {
	width:1000px;
}

#sidebar {
	color:darkgrey;
	text-align:center;
	width: 250px;
	float:left;
	padding: 5px;
}

#content {
	float:right;
	width: 700px;
	padding: 5px;
}

#code {
	border:5px solid black;
}

#code h3
{font-family: Arial Narrow;}

#footer {
	background: black;
	color: white;
	padding:10px;
	max-width:1000px;
	clear:both;
}